*.jl.*.cov
*.jl.cov
*.jl.mem
**/.DS_Store
**/Manifest.toml
/docs/build/
**/data/
*.lyx#*
*.lyx~*
*.aux
*.bbl
*.blg
*.cb
*.cb2
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*Notes.bib
examples/
docs/build/
