.DS_Store
**/.DS_Store
*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/Manifest.toml
/docs/build/
simulations/
.github/
notes/Random_ecosystems.aux
notes/Random_ecosystems.bbl
notes/Random_ecosystems.blg
notes/Random_ecosystems.cb
notes/Random_ecosystems.cb2
notes/Random_ecosystems.fdb_latexmk
notes/Random_ecosystems.fls
notes/Random_ecosystems.log
notes/Random_ecosystems.out
notes/Random_ecosystems.synctex.gz
notes/Random_ecosystemsNotes.bib
